.span {
   padding-right: 20px;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.blue {
    background: #80bcff;
}
.blue-text {
  color: #0B76EF;
}

.yellow {
    background: khaki;
}

.yellow-text {
  color: yellowgreen;
}

