.link {
    text-decoration: none;
    color: #4fad18;
    margin: 10px;
}

.link:hover {
    color: #0B76EF;
}

.link .active {
    color: #0B76EF;
}

.block {
    width: 21px;
    height: 21px;
    margin: 10px;
    background: #a8e601;
}

.header {
    display: flex;
    width: 350px;

    transition-duration: 500ms;
    transform: translate(-220px);
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}


