.default {
    box-sizing: border-box;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #3498db;
    border-radius: 0.6em;
    color: #4c4c4c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.default:hover {
    box-shadow: 0 0 40px 40px rgba(52, 152, 219) inset;
}

.default:focus {
    color: #4c4c4c;
    outline: 0;
}
.default:disabled{
    box-shadow: 0 0 40px 40px rgba(52, 152, 219, 0.70) inset;
}

.red {
    color: white;
    background: rgba(255, 0, 0, 0.7);
    box-sizing: border-box;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #e65b65;
    border-radius: 0.6em;
    /*cursor: pointer;*/
    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-webkit-align-self: center;*/
    /*align-self: center;*/
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.red:hover {
    box-shadow: 0 0 40px 40px red inset;
}

.red:focus {
    color: white;
    outline: 0;
}